:root {
  /* カラー（色） */
  --white: #ffffff;
  --gray-10: #eeeeee;
  --gray-25: #aaaaaa;
  --gray-50: #707070;
  --gray-75: #444444;
  --black: #222222;
  --accent: #0b87e0;

  /* タイポグラフィ（フォントサイズ） */
  --body: clamp(1rem, 0.95rem + 0.2vw, 1.125rem); /* 16~18px */
  --display: clamp(4.5rem, 1.83rem + 11.34vw, 10rem); /* 72~160 */
  --heading: clamp(2rem, 1.3rem + 3vw, 4rem); /* 32~64px */
}